source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget FSharp.Core 4.7.2
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fulma

group Docs
    source https://api.nuget.org/v3/index.json
    framework: net5.0
    nuget Feliz.Router
    nuget Zanaptak.TypedCssClasses
    nuget Fable.SimpleHttp
    nuget Feliz.ElmishComponents
    nuget Feliz.UseDeferred
    nuget Feliz.Popover
    nuget Feliz.Markdown
    nuget Feliz.Bulma
    nuget Chia.Client